@model Dictionary<string, string>
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="~/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <title>Index Result</title>
</head>

<body class="p-1">
    <table class="table table-striped table-bordered">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</body>

</html>